 <!-- header fixed -->
<div class="wrap_header fixed-header2 trans-0-4">
	<!-- Logo -->
	<a href="index.html" class="logo">
		<img src="assets/images/icons/logo.png" alt="IMG-LOGO">
	</a>

	<!-- Menu -->
	<div class="wrap_menu">
		<nav class="menu">
			<ul class="main_menu">
				<li>
					<a href="/home">Trang chủ</a>
				</li>
				<ng-container *ngFor="let mn of menus">

					<li *ngIf="mn.children !=null"><a class="active" href="">{{mn.item_group_name}}<i
								class="fa fa-angle-down"></i></a>
						<ul class="sub_menu">
							<ng-container *ngFor="let m of mn.children">
								<li><a [routerLink]="['/product/list',m.item_group_id]">{{m.item_group_name}}</a></li>
							</ng-container>
						</ul>
					</li>

					<li *ngIf="mn.children == null"><a href="">{{mn.item_group_name}}</a></li>
				</ng-container>

			</ul>
		</nav>
	</div>

	<!-- Header Icon -->
	<div class="header-icons">
		<a href="http://localhost:4200/customer/login" class="header-wrapicon1 dis-block">
			<img src="assets/images/icons/icon-header-01.png" class="header-icon1"
				alt="ICON">
		</a>

		<span class="linedivide1"></span>

		<div class="header-wrapicon2">
			<img src="assets/images/icons/icon-header-02.png" class="header-icon1
				js-show-header-dropdown" alt="ICON">
			<span class="header-icons-noti">{{quantity}}</span>


			<!-- Header cart noti -->
			<div class="header-cart header-dropdown">
				<div *ngFor="let c of items">
					<ul class="header-cart-wrapitem">
						<li class="header-cart-item">
							<div class="header-cart-item-img">
								<img src="{{c.item_image}}" alt="IMG-PRODUCT">
							</div>

							<div class="header-cart-item-txt">
								<a href="#" class="header-cart-item-name">
									{{c.item_name}}
								</a>

								<span class="header-cart-item-info">
									{{c.quantity}} x {{c.item_price}}
								</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="header-cart-total">
					Tổng tiền: {{total}}
				</div>
				<div class="header-cart-buttons">
					<div class="header-cart-wrapbtn">
						<!-- Button -->
						<a routerLink="/customer/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1
							s-text1
							trans-0-4">
							Xem giỏ hàng
						</a>
					</div>

					<div class="header-cart-wrapbtn">
						<!-- Button -->
						<a routerLink="/customer/checkout" class="flex-c-m size1 bg1 bo-rad-20
							hov1 s-text1 trans-0-4">
							Thanh toán
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- top noti -->
<div class="flex-c-m size22 bg0 s-text21 pos-relative">
	20% off everything!
	<a href="product.html" class="s-text22 hov6 p-l-5">
		Shop Now
	</a>

	<button class="flex-c-m pos2 size23 colorwhite eff3 trans-0-4
		btn-romove-top-noti">
		<i class="fa fa-remove fs-13" aria-hidden="true"></i>
	</button>
</div>

<!-- Header -->
<header class="header2">
	<!-- Header desktop -->
	<div class="container-menu-header-v2 p-t-26">
		<div class="topbar2">
			<div class="topbar-social">
				<a href="#" class="topbar-social-item fa fa-facebook"></a>
				<a href="#" class="topbar-social-item fa fa-instagram"></a>
				<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
				<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
				<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
			</div>

			<!-- Logo2 -->
			<a href="index.html" class="logo2">
				<img src="assets/images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<div class="topbar-child2">
				<span class="topbar-email">
					mypham@gmail.com
				</span>

				<div class="topbar-language rs1-select2">
					<select class="selection-1" name="time">
						<option>USD</option>
						<option>EUR</option>
					</select>
				</div>

				<!--  -->
				<a href="/customer/login" class="header-wrapicon1 dis-block m-l-30">
					<img src="assets/images/icons/icon-header-01.png" class="header-icon1"
						alt="ICON">
				</a>

				<span class="linedivide1"></span>

				<div class="header-wrapicon2 m-r-13">
					<img src="assets/images/icons/icon-header-02.png" class="header-icon1
						js-show-header-dropdown" alt="ICON">
					<span class="header-icons-noti">{{quantity}}</span>

					<!-- Header cart noti -->
					<div class="header-cart header-dropdown">
						<div *ngFor="let c of items">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="{{c.item_image}}" alt="IMG-PRODUCT">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											{{c.item_name}}
										</a>

										<span class="header-cart-item-info">
											{{c.quantity}} x {{c.item_price}}
										</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="header-cart-total">
							Tổng tiền: {{total}}
						</div>
						<div class="header-cart-buttons">
							<div class="header-cart-wrapbtn">
								<!-- Button -->
								<a routerLink="/customer/cart" class="flex-c-m size1 bg1 bo-rad-20 hov1
									s-text1
									trans-0-4">
									Xem giỏ hàng
								</a>
							</div>

							<div class="header-cart-wrapbtn">
								<!-- Button -->
								<a routerLink="/customer/checkout" class="flex-c-m size1 bg1 bo-rad-20
									hov1 s-text1 trans-0-4">
									Thanh toán
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="wrap_header">

			<!-- Menu -->
			<div class="wrap_menu">
				<nav class="menu">

					<ul class="main_menu">
						<li>
							<a href="/home">Trang chủ</a>
						</li>
						<ng-container *ngFor="let mn of menus">
							<li *ngIf="mn.children !=null"><a class="active" href="">{{mn.item_group_name}}<i
										class="fa fa-angle-down"></i></a>
								<ul class="sub_menu">
									<ng-container *ngFor="let m of mn.children">
										<li><a [routerLink]="['/product/list',m.item_group_id]">{{m.item_group_name}}</a></li>
									</ng-container>
								</ul>
							</li>

							<li *ngIf="mn.children == null"><a href="">{{mn.item_group_name}}</a></li>
						</ng-container>
					</ul>
				</nav>
			</div>

			<!-- Header Icon -->
			<div class="header-icons">

			</div>
		</div>
	</div>
</header>
