<!-- Slide1 -->
<section class="slide1">
	<div class="wrap-slick1">
		<div class="slick1">
			<div class="item-slick1 item1-slick1" style="background-image:
				url(assets/img/slider/11.jpg);">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15
					p-r-15 p-t-150 p-b-170">
					<h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6
						animated visible-false m-b-22" data-appear="fadeInUp">
						Leather Bags
					</h2>

					<span class="caption2-slide1 m-text1 t-center animated
						visible-false m-b-33" data-appear="fadeInDown">
						New Collection 2018
					</span>

					<div class="wrap-btn-slide1 w-size1 animated visible-false"
						data-appear="zoomIn">
						<!-- Button -->
						<a href="product.html" class="flex-c-m size2 bo-rad-23
							s-text2 bgwhite hov1 trans-0-4">
							Shop Now
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Banner -->
<div class="banner bgwhite p-t-40 p-b-40">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
				<!-- block1 -->
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					<img src="assets/img/slider/muc1.jpg" alt="IMG-BENNER" style="width: 360px;    height: 470px;">
					<div class="block1-wrapbtn w-size2">
						<!-- Button -->
						<a href="#" class="flex-c-m size2 m-text2 bg3 hov1
							trans-0-4">
							Trang điểm
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
				<!-- block1 -->
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					<img src="assets/img/slider/muc2.jpg" alt="IMG-BENNER"style="width: 360px;    height: 470px;">
					<div class="block1-wrapbtn w-size2">
						<!-- Button -->
						<a href="#" class="flex-c-m size2 m-text2 bg3 hov1
							trans-0-4">
							Nước hoa
						</a>
					</div>
				</div>
			</div>

			<div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
				<!-- block1 -->
				<div class="block1 hov-img-zoom pos-relative m-b-30">
					<img src="assets/img/slider/muc3.jpg" alt="IMG-BENNER"style="width: 390px;    height: 470px;">
					<div class="block1-wrapbtn w-size2">
						<!-- Button -->
						<a href="#" class="flex-c-m size2 m-text2 bg3 hov1
							trans-0-4">
							Dưỡng da
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Our product -->
<section class="bgwhite p-t-45 p-b-58">
	<div class="container">
		<div class="sec-title p-b-22">
			<h3 class="m-text5 t-center">
				Sản phẩm của chúng tôi
			</h3>
		</div>

		<!-- Tab01 -->
		<div class="tab01">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab"
						href="#best-seller" role="tab">Sản phẩm bán chạy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#featured"
						role="tab">Trang điểm</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#sale"
						role="tab">Nước hoa</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#top-rate"
						role="tab">Dưỡng da</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content p-t-35">
				<!-- - -->
				<div class="tab-pane fade show active" id="best-seller" role="tabpanel">
					<div class="row">
						<ng-container *ngFor="let it of list_item">
							<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">

								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden
										pos-relative block2-labelnew">
										<img src="/{{it.item_image}}"
											alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">
											<a href="#"
												class="block2-btn-addwishlist
												hov-pointer trans-0-4">
												<i class="icon-wishlist
													icon_heart_alt"
													aria-hidden="true"></i>
												<i class="icon-wishlist
													icon_heart dis-none"
													aria-hidden="true"></i>
											</a>

											<div class="block2-btn-addcart
												w-size1 trans-0-4">

												<button (click)="addToCart(it)" class="flex-c-m size1
													bg4 bo-rad-23 hov1 s-text1
													trans-0-4">
													Thêm giỏ hàng
												</button>
											</div>
										</div>
									</div>

									<div class="block2-txt p-t-20">
										<a class="block2-name dis-block s-text3 p-b-5"
											[routerLink]="['/product/chitiet',it.item_id]">
											{{it.item_name}}
										</a>

										<span class="block2-price m-text6
											p-r-5">
											{{it.item_price}}
										</span>
									</div>
								</div>
							</div>
							
						</ng-container>
					</div>
					<!-- Pagination -->
					<!-- <div class="pagination flex-m flex-w p-t-26">
                        <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
					</div> -->
				</div>

				<!-- - -->
				<div class="tab-pane fade" id="featured" role="tabpanel">
					<div class="row">
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative
									block2-labelsale">
									<img src="images/item-07.jpg" alt="IMG-PRODUCT">

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Add to Cart
											</button>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="product-detail.html" class="block2-name dis-block s-text3
										p-b-5">
										Frayed denim shorts
									</a>

									<span class="block2-oldprice m-text7 p-r-5">
										$29.50
									</span>

									<span class="block2-newprice m-text8 p-r-5">
										$15.90
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--  -->
				<div class="tab-pane fade" id="sale" role="tabpanel">
					<div class="row">
						<ng-container *ngFor="let it of list_item">
							<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">

								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden
										pos-relative block2-labelnew">
										<img src="/{{it.item_image}}"
											alt="IMG-PRODUCT">

										<div class="block2-overlay trans-0-4">
											<a href="#"
												class="block2-btn-addwishlist
												hov-pointer trans-0-4">
												<i class="icon-wishlist
													icon_heart_alt"
													aria-hidden="true"></i>
												<i class="icon-wishlist
													icon_heart dis-none"
													aria-hidden="true"></i>
											</a>

											<div class="block2-btn-addcart
												w-size1 trans-0-4">

												<button (click)="addToCart(it)" class="flex-c-m size1
													bg4 bo-rad-23 hov1 s-text1
													trans-0-4">
													Thêm giỏ hàng
												</button>
											</div>
										</div>
									</div>

									<div class="block2-txt p-t-20">
										<a class="block2-name dis-block s-text3 p-b-5"
											[routerLink]="['/product/chitiet',it.item_id]">
											{{it.item_name}}
										</a>

										<span class="block2-price m-text6
											p-r-5">
											{{it.item_price}}
										</span>
									</div>
								</div>
							</div>
						</ng-container>
						<!-- Pagination -->
					<!-- <div class="pagination flex-m flex-w p-t-26">
                        <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
					</div> -->
					</div>
					
				</div>

				<!--  -->
				<div class="tab-pane fade" id="top-rate" role="tabpanel">
					<div class="row">
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative
									block2-labelnew">
									<img src="images/item-02.jpg" alt="IMG-PRODUCT">

									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
												Add to Cart
											</button>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="product-detail.html" class="block2-name dis-block s-text3
										p-b-5">
										Herschel supply co 25l
									</a>

									<span class="block2-price m-text6 p-r-5">
										$75.00
									</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<!-- Banner video -->
<section class="parallax0 parallax100" style="background-image:
	url(assets/img/slider/lookbook.jpg);">
	<div class="overlay0 p-t-190 p-b-200">
		<div class="flex-col-c-m p-l-15 p-r-15">
			<span class="m-text9 p-t-45 fs-20-sm">
				The Beauty
			</span>

			<h3 class="l-text1 fs-35-sm">
				Lookbook
			</h3>

			<span class="btn-play s-text4 hov5 cs-pointer p-t-25"
				data-toggle="modal" data-target="#modal-video-01">
				<i class="fa fa-play" aria-hidden="true"></i>
				Play Video
			</span>
		</div>
	</div>
</section>

<!-- Blog -->
<section class="blog bgwhite p-t-94 p-b-65">
	<div class="container">
		<div class="sec-title p-b-52">
			<h3 class="m-text5 t-center">
				Tin tức
			</h3>
		</div>

		<div class="row">
			<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
				<!-- Block3 -->
				<div class="block3">
					<a href="blog-detail.html" class="block3-img dis-block
						hov-img-zoom">
						<img src="assets/img/blog/blog11.jpeg" alt="IMG-BLOG" style=" width: 370px;height: 370px;">
					</a>

					<div class="block3-txt p-t-14">
						<h4 class="p-b-7">
							<a
								href="https://cocoshop.vn/news/xu-huong-lam-dep/son-han-quoc-nao-duoc-gioi-tre-san-don-nhat-hien-nay-354.html"
								class="m-text11">
								Son Hàn Quốc nào được giới trẻ săn đón nhất hiện nay
							</a>
						</h4>

						<span class="s-text6">By</span> <span
							class="s-text7">Nancy Ward</span>
						<span class="s-text6">on</span> <span
							class="s-text7">July 22, 2017</span>

						<p class="s-text8 p-t-16">
							Hàn Quốc được xem là cái nôi mỹ phẩm tại Châu Á, với rất nhiều thương
							hiệu khác nhau và rất được giới trẻ ưa chuộng. Bên cạnh những mặt hàng
							nổi bật như cushion, phấn phủ, các sản phâm chăm sóc da như mặt nạ,
							serum, lotion, nước hoa hồng,…

						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
				<!-- Block3 -->
				<div class="block3">
					<a href="blog-detail.html" class="block3-img dis-block
						hov-img-zoom">
						<img src="assets/img/blog/blog22.jpeg" alt="IMG-BLOG"style=" width: 370px;height: 370px;">
					</a>

					<div class="block3-txt p-t-14">
						<h4 class="p-b-7">
							<a
								href="https://cocoshop.vn/news/xu-huong-lam-dep/nhung-loai-mat-na-tot-nhat-hien-nay-chi-em-nen-thu-355.html"
								class="m-text11">
								Những loại mặt nạ tốt nhất hiện nay chị em nên thử
							</a>
						</h4>

						<span class="s-text6">By</span> <span
							class="s-text7">Nancy Ward</span>
						<span class="s-text6">on</span> <span
							class="s-text7">July 18, 2017</span>

						<p class="s-text8 p-t-16">
							Hiện nay xuất hiện rất nhiều loại mặt nạ dưỡng, thanh lọc, cấp ẩm qua
							đêm… không chỉ cung cấp thêm những dưỡng chất cần thiết, mà còn là một
							cách giúp bạn thư giãn và thể hiện sự quan tâm với làn da mình.
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
				<!-- Block3 -->
				<div class="block3">
					<a href="blog-detail.html" class="block3-img dis-block
						hov-img-zoom">
						<img src="assets/img/blog/blog33.jpeg" alt="IMG-BLOG"style=" width: 370px;height: 370px;">
					</a>

					<div class="block3-txt p-t-14">
						<h4 class="p-b-7">
							<a
								href="https://cocoshop.vn/news/xu-huong-lam-dep/top-5-loai-loai-sua-rua-mat-an-khach-nhat-nam-2020-chi-em-nen-thu-353.html"
								class="m-text11">
								Top 5 loại loại sữa rửa mặt ăn khách nhất năm 2020 chị em nên thử
							</a>
						</h4>

						<span class="s-text6">By</span> <span
							class="s-text7">Nancy Ward</span>
						<span class="s-text6">on</span> <span
							class="s-text7">July 2, 2017</span>

						<p class="s-text8 p-t-16">
							Hầu hết chị em đã biết rằng hiện tại sữa rửa mặt đang vô cùng phổ biến
							đối với phái đẹp, rất nhiều loại và giá thành khác nhau cho bạn lựa chọn.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Shipping -->
<section class="shipping bgwhite p-t-62 p-b-46">
	<div class="flex-w p-l-15 p-r-15">
		<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
			<h4 class="m-text12 t-center">
				Miễn phí vận chuyển
			</h4>

			<a href="#" class="s-text11 t-center">
				Xem chi tiết
			</a>
		</div>

		<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2
			respon2">
			<h4 class="m-text12 t-center">
				Đổi trả trong 30 ngày
			</h4>

			<span class="s-text11 t-center">
				Xem chi tiết
			</span>
		</div>

		<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
			<h4 class="m-text12 t-center">
				Thời gian mở cửa
			</h4>

			<span class="s-text11 t-center">
				Xem chi tiết
			</span>
		</div>
	</div>
</section>
<script>
    $(document).ready(function(){
      $(".nav-tabs a").click(function(){
        $(this).tab('show');
      });
    });
    </script>