
<!-- breadcrumb -->
<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
    <a href="index.html" class="s-text16">
        Home
        <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
    </a>

    <a href="product.html" class="s-text16">
        Women
        <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
    </a>

    <span class="s-text17">
        {{item.item_name}}
    </span>
</div>
<!-- Product Detail -->
<div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">
        <div class="w-size13 p-t-30 respon5">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="slick3">

                    <div class="item-slick3"
                        data-thumb="images/thumb-item-03.jpg">
                        <div class="wrap-pic-w">
                                <img style="height: 470px;" src="/{{item.item_image}}" alt="IMG-PRODUCT">
                        </div>
                    </div>
                    <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                        <div class="flex-m bor9 p-r-10 m-r-11">
                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                <i class="zmdi zmdi-favorite"></i>
                            </a>
                        </div>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-size14 p-t-30 respon5">
            <h4 class="product-detail-name m-text16 p-b-13">
                {{item.item_name}}
            </h4>

            <span class="m-text17">
                {{item.item_price}}
            </span>

            <!--  -->
            <div class="p-t-33 p-b-60">
                <div class="flex-r-m flex-w p-t-10">
                    <div class="w-size16 flex-m flex-w">
                        <div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">
                            <button class="btn-num-product-down color1 flex-c-m
                                size7 bg8 eff2">
                                <i class="fs-12 fa fa-minus" aria-hidden="true"></i>
                            </button>

                            <input class="size8 m-text18 t-center num-product"
                                type="number" name="num-product" value="1">
                            <button class="btn-num-product-up color1 flex-c-m
                                size7 bg8 eff2">
                                <i class="fs-12 fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="btn-addcart-product-detail size9 trans-0-4
                            m-t-10 m-b-10">
                            <!-- Button -->
                            <button (click)="addToCart(item)" class="flex-c-m
                                sizefull bg1 bo-rad-23 hov1
                                s-text1 trans-0-4">
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-b-45">
                <span class="s-text8 m-r-35">SKU: MUG-01</span>
                <span class="s-text8">Categories: Mug, Design</span>
            </div>

            <!--  -->
            <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
                <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                    Description
                    <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
                    <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
                </h5>

                <div class="dropdown-content dis-none p-t-15 p-b-23">
                    <p class="s-text8">
                        Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="sec-title p-b-60">
        <h3 class="m-text5 t-center">
            Mô tả 
        </h3>
        {{item.item_description}}
    </div>
</div>

<!-- Blog -->
<section class="blog bgwhite p-t-94 p-b-65">
	<div class="container">
		<div class="sec-title p-b-52">
			<h3 class="m-text5 t-center">
				Sản phẩm cùng loại
			</h3>
		</div>

		<div class="row">
			<ng-container *ngFor="let its of list_item_same_type">
			<div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
				<!-- Block3 -->
				<div class="block3">
					<a href="blog-detail.html" class="block3-img dis-block
						hov-img-zoom">
						<img src="/{{its.item_image}}" alt="IMG-BLOG" style=" width: 370px;height: 370px;">
					</a>

					<div class="block3-txt p-t-14">
						<h4 class="p-b-7">
							<a
								href="https://cocoshop.vn/news/xu-huong-lam-dep/son-han-quoc-nao-duoc-gioi-tre-san-don-nhat-hien-nay-354.html"
								class="m-text11">
								{{its.item_name}}
							</a>
						</h4>

						<span class="s-text6">By</span> <span
							class="s-text7">Nancy Ward</span>
						<span class="s-text6">on</span> <span
							class="s-text7">July 22, 2017</span>

						<p class="s-text8 p-t-16">
							{{its.item_description}}
						</p>
					</div>
				</div>
			</div>
		</ng-container>
		
		</div>
	</div>
</section>
